<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<head th:fragment="admin-head-data">
 <meta charset="utf-8">
<title>Bootstrap Example</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  	<!--Custom styles-->
	<link rel="stylesheet" type="text/css" href="loginstyles.css">
  <style>
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }
        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
  </style>
</head>


<body>
	<!-- menu boczne normalne -->
    <div th:fragment="side-menu" class="col-sm-3 sidenav hidden-xs">
      <h2>Logo</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="menuItem active" onclick="changeSelection(this)"><a href="/admin/panel"><span class="glyphicon glyphicon-home"></span> Dashboard</a></li>
        <li class="menuItem" onclick="changeSelection(this)"><a href="/admin/newslist"><span class="glyphicon glyphicon-new-window"></span> Aktualności</a></li>
        <li class="menuItem" onclick="changeSelection(this)"><a href="#pricing"> <span class="glyphicon glyphicon-usd"></span> Cennik</a></li>
        <li class="menuItem" onclick="changeSelection(this)"><a href="#internals"> <span class="glyphicon glyphicon-import"></span> Ogłoszenia wewnętrzne</a></li>
        <li class="menuItem" onclick="changeSelection(this)"><a href="#externals"><span class="glyphicon glyphicon-export"></span> Ogłoszenia zewnętrzne</a></li>
        <li class="menuItem" onclick="changeSelection(this)"><a href="/admin/userslist"><span class="glyphicon glyphicon-user"></span> Pracownicy</a></li>
        <li class="menuItem" onclick="changeSelection(this)"><a href="#users"><span class="glyphicon glyphicon-sunglasses"></span> Użytkownicy</a></li>
      </ul><br>
    </div>
    
    
  	<!-- menu na urzadzenia mobilne -->  
 <nav th:fragment="small-side-menu" class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="menuItem active" onclick="changeSelection(this)"><a href="#section1">Dashboard</a></li>
        <li class="menuItem" onclick="changeSelection(this)"><a href="#news">Aktualności</a></li>
        <li class="menuItem" onclick="changeSelection(this)"><a href="#pricing">Cennik</a></li>
        <li class="menuItem" onclick="changeSelection(this)"><a href="#internals">Ogłoszenia wewnętrzne</a></li>
        <li class="menuItem" onclick="changeSelection(this)"><a href="#externals">Ogłoszenia zewnętrzne</a></li>
        <li class="menuItem" onclick="changeSelection(this)"><a href="#employees">Pracownicy</a></li>
        <li class="menuItem" onclick="changeSelection(this)"><a href="#users">Użytkownicy</a></li>
      </ul>
    </div>
  </div>
</nav>
    
	
</body>
</html>