<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<th:block th:include="admin_fragment_repository.html :: admin-head-data">
</th:block>
</head>
<body>

	<nav th:replace="admin_fragment_repository.html :: small-side-menu"></nav>

	<div class="container-fluid">
		<div class="row content">
			<div th:replace="admin_fragment_repository.html :: side-menu"></div>
			<br>

			<div class="col-sm-9">
					<p class="w3-padding-64">
						<a href="/admin/newuser"><button type="button"
								class="btn btn-primary btn-lg">Nowy</button></a>
					</p>
				<div th:switch="${users}">
					<h2 th:case="null">No users yet!</h2>
					<div th:case="*">
						<h3>Użytkownicy</h3>


<div class="col-sm-8">
							<table class="table table-sm">
								<thead>
									<tr>
										<th scope="col">Imię</th>
										<th scope="col">Nazwisko</th>
										<th scope="col">Email</th>
										<th scope="col">#####</th>
										<th scope="col">Operacje</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="user : ${users}">
										<td th:text="${user.name}"></td>
										<td th:text="${user.lastName}"></td>
										<td th:text="${user.email}"></td>
										<td th:text="${user.role}"></td>
										<td><a th:href="@{/admin/edit/{id}(id=${user.id})}">
										<button	type="button" class="btn btn-primary">Edycja</button></a> 
													<a th:href="@{/admin/delete/{id}(id=${user.id})}">
													<button type="button" class="btn btn-danger">Usuń</button></a></td>
									</tr>
								</tbody>
							</table>
</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<script>

</script>
</body>
</html>