<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <th:block th:include="admin_fragment_repository.html :: admin-head-data">
    </th:block>
</head>

<body>
    <div th:replace="admin_fragment_repository.html :: top-container-fragment"> </div>
    <nav th:replace="admin_fragment_repository.html :: side-menu(menuItemToActivate='Ogłoszenia wewnętrzne')"></nav>
    <div th:replace="admin_fragment_repository.html :: overlay-menu-effect-fragment"></div>

    <!-- !PAGE CONTENT! -->
    <div class="content-main-div w3-main">
        <!-- Header -->
        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="fa fa-dashboard"></i> Cennik</b></h5>
        </header>


<span th:switch="${isAddProductPricesAllowed}">
<div th:case="true">
 <a class="w3-margin-left" th:href="@{'/admin/productpricelist/create'}">
            <button class="w3-button w3-green">Dodaj cennik</button>
        </a>
</div>
<div th:case="false">
 <a class="w3-margin-left" th:href="@{'/admin/productpricelist/create'}">
            <button class="w3-button w3-green" disabled>Dodaj cennik</button>
        </a>
       <p> Nie można dodać - brak Produktów</p>
</div>
</span>

        <div th:switch="${productPriceList.getContent().size()}">
            <h2 th:case="'0'"></h2>
            <div th:case="*" class="w3-margin-left w3-padding-32">
                <div class="w3-container w3-padding-32 w3-margin w3-card-4 w3-light-grey">
                <div class="w3-center w3-padding-16">
                <span class="w3-center">Ostatnia aktualizacja cennika: <strong th:text="${#dates.format(priceListDate, 'dd-MM-yyyy HH:mm')}"/></span>
                </div>
                    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
                        <thead>
                            <tr>
                                <th> Towar</th>
                                <th> Typ</th>
                                <th> Status</th>
                                <th> Zmiana ceny (%)</th>
                                <th> Aktualna cena (zł)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="product : ${productPriceList}">
                                <td th:text="${product.getProductName()}"></td>
                                <td th:text="${product.getProductCategory().getCategoryName()}"></td>
                                <td th:text="${product.getStatus()}"></td>
                                <td th:text="${#numbers.formatDecimal({product.getProductPriceDifference()},2, 2, 'COMMA')}"></td>
                                <td th:text="${#numbers.formatDecimal({product.getProductPrice()},2, 2, 'COMMA')}"></td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="w3-center w3-margin-top">
                        <div th:if="${productPriceList.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
                            <a class="w3-button w3-margin" th:href="@{/admin/productpricelist(size=${productPriceList.size}, page=${pageNumber})}" th:text=${pageNumber} th:class="${pageNumber==productPriceList.number + 1} ? active"></a>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>

    <script type="text/javascript" th:replace="admin_fragment_repository.html :: js-script-fragment"></script>
</body>

</html>