<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="admin-head-data">
    <title>W3.CSS Template</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/main.css" rel="stylesheet">
    <style>
        html,
        body,
        h1,
        h2,
        h3,
        h4,
        h5 {
            font-family: "Raleway", sans-serif
        }
        
        .content-main-div {
            margin-left: 300px;
            margin-top: 43px;
        }
    </style>
</head>

<body>

    <!-- Top container -->
    <div th:fragment="top-container-fragment" class="w3-bar w3-top w3-black w3-large" style="z-index:4">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i>  Menu</button>
        <span class="w3-bar-item w3-right">Logo</span>
    </div>

    <!-- Sidebar/menu -->
    <nav th:fragment="side-menu(menuItemToActivate)" class="w3-sidebar w3-collapse w3-white" style="z-index:3;width:300px;" id="mySidebar">
        <br>
        <div class="w3-container w3-row">
            <span>Welcome, <strong sec:authentication="name"></strong></span>
            <br>

        </div>
        <hr>
        <div class="w3-container">
            <h5>Dashboard</h5>
        </div>
        <div class="w3-bar-block">
            <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>  Close Menu</a>
            <a th:classappend="${#httpServletRequest.getRequestURI().startsWith('/admin/panel') ? 'w3-blue':''}" th:href="@{'/admin/panel'}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-users fa-fw"></i>  Overview</a>
            <a th:classappend="${#httpServletRequest.getRequestURI().startsWith('/admin/newslist') ? 'w3-blue':''}" th:href="@{'/admin/newslist'}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-id-card fa-fw"></i>  Aktualności</a>
            <a th:classappend="${#httpServletRequest.getRequestURI().startsWith('/admin/cennik-oplaty') ? 'w3-blue':''}" th:href="@{'/admin/cennik-oplaty'}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cloud-download fa-fw"></i>  Cennik-opłaty</a>
            <!--<a th:classappend="${#httpServletRequest.getRequestURI().startsWith('/admin/externalofferslist') ? 'w3-blue':''}" th:href="@{'/admin/externalofferslist'}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cloud-upload fa-fw"></i>  Ogłoszenia zewnętrzne</a>
            <a th:classappend="${#httpServletRequest.getRequestURI().startsWith('/admin/employee') ? 'w3-blue':''}" th:href="@{'/admin/employee'}" class="w3-bar-item w3-button w3-padding"></i>  Pracownicy</a> 
            <a th:classappend="${#httpServletRequest.getRequestURI().startsWith('/admin/productcategorylist') ? 'w3-blue':''}" th:href="@{'/admin/productcategorylist'}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-archive fa-fw"></i>  Kategorie towarów</a> -->
            <a th:classappend="${#httpServletRequest.getRequestURI().startsWith('/admin/productlist') ? 'w3-blue':''}" th:href="@{'/admin/productlist'}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-archive fa-fw"></i>  Towary</a>
            
            <a th:classappend="${#httpServletRequest.getRequestURI().startsWith('/admin/productpricelist') ? 'w3-blue':''}" th:href="@{'/admin/productpricelist'}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-euro fa-fw"></i>  Cennik</a>
            <a th:classappend="${#httpServletRequest.getRequestURI().startsWith('/admin/gallery') ? 'w3-blue':''}" th:href="@{'/admin/gallery'}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-camera fa-fw"></i>  Galeria</a>
			<a th:classappend="${#httpServletRequest.getRequestURI().startsWith('/admin/rodo') ? 'w3-blue':''}" th:href="@{'/admin/rodo'}" class="w3-bar-item w3-button w3-padding"><i class="fa fa-camera fa-fw"></i>  Rodo</a>

            <a href="/logout" class="w3-bar-item w3-button w3-padding"><i class="fa fa-cog fa-fw"></i>  Wyloguj</a>
            <br>
            <br>
        </div>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div th:fragment="overlay-menu-effect-fragment" class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

    <div th:fragment="notification-fragment" id="notification_info" class="w3-display-container w3-display-topright" th:with="notifyMessages=${session[T(pl.minicode.targowiska.service.impl
          .NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY]}">
        <div th:each="msg : ${notifyMessages}" th:class="${#strings.toLowerCase(msg.type)}">        
        <div class="w3-panel w3-card-4">
        <p   th:text="${msg.text}">
        </p>
        </div>
        <span th:if="${notifyMessages}" th:remove="all" th:text="${#session.removeAttribute(
          T(pl.minicode.targowiska.service.impl.NotificationServiceImpl).NOTIFY_MSG_SESSION_KEY)}"></span>
        </div>  
          
          
    </div>

    <script th:fragment="js-script-fragment">

					fadeOutNotificationsEffect();

					// Get the Sidebar
					var mySidebar = document.getElementById("mySidebar");

					// Get the DIV with overlay effect
					var overlayBg = document.getElementById("myOverlay");

					// Toggle between showing and hiding the sidebar, and add overlay effect
					function w3_open() {
						if (mySidebar.style.display === 'block') {
							mySidebar.style.display = 'none';
							overlayBg.style.display = "none";
						} else {
							mySidebar.style.display = 'block';
							overlayBg.style.display = "block";
						}
					}

					// Close the sidebar with the close button
					function w3_close() {
						mySidebar.style.display = "none";
						overlayBg.style.display = "none";
					}

					//notifications show/hide
					function fadeOutNotificationsEffect() {
						setTimeout(
								function() {
									var el = document
											.getElementById("notification_info");
									// 1s - time of the animation duration
									// set transition property for webkit browsers only
									if (el) {
										el.style.WebkitTransition = 'visibility .8s, opacity .8s'
										el.style.opacity = '0';
									}
								}, 2000);
					}
				</script>

</body>

</html>