<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <th:block th:include="admin_fragment_repository.html :: admin-head-data">
    </th:block>
</head>

<body>

    <nav th:replace="admin_fragment_repository.html :: small-side-menu"></nav>

    <div class="container-fluid">
        <div class="row content">
            <div th:replace="admin_fragment_repository.html :: side-menu(menuItemToActivate='Ogłoszenia wewnętrzne')"></div>
            <br>

            <div class="col-sm-9">
                <h1>Nowe ogłoszenie wew</h1>
                <div class="col-sm-6">
                    <form action="#" th:action="@{/admin/addinternaloffer}" th:object="${offer}" method="post">
                        <label for="offerName">Offer name</label>
                        <input type="text" class="form-control" th:field="*{offerName}" id="offerName" placeholder="Offer name">
                        <span th:if="${#fields.hasErrors('offerName')}" th:errors="*{offerName}"></span>

                        <br>
                        <div class="form-group">
                            <label for="offerLongDescription">Offer description</label>
                            <textarea class="form-control" th:field="*{offerLongDescription}" id="offerLongDescription" rows="6" placeholder="Offer description"></textarea>
                            <span th:if="${#fields.hasErrors('offerLongDescription')}" th:errors="*{offerLongDescription}"></span>
                        </div>
                        
                        <label for="status">Status</label>
                        <select class="form-control" th:field="*{status}"  id="status">
  							<option th:each="status : ${T(pl.minicode.targowiska.type.Status).getGuiValues()}" th:value="${status}" th:text="${status.toDisplay()}"></option>
						</select>
                          <br>

                        <input type="submit" class="btn btn-primary" value="Dodaj">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>