<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <th:block th:include="admin_fragment_repository.html :: admin-head-data">
    </th:block>
</head>

<body>
    <div th:replace="admin_fragment_repository.html :: top-container-fragment"> </div>
    <nav th:replace="admin_fragment_repository.html :: side-menu(menuItemToActivate='Ogłoszenia wewnętrzne')"></nav>
    <div th:replace="admin_fragment_repository.html :: overlay-menu-effect-fragment"></div>

    <!-- !PAGE CONTENT! -->
    <div class="content-main-div w3-main">
        <!-- Header -->
        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="fa fa-dashboard"></i> Oferty wew.</b></h5>
        </header>

        <a class="w3-margin-left" th:href="@{'/admin/internalofferslist/newinternaloffer'}">
            <button class="w3-button w3-green">Dodaj ofertę wew</button>
        </a>

        <div class="w3-margin-left w3-padding-32" th:each="internalOffer : ${internalOffersList}">
            <span th:text="${#dates.format(internalOffer.insertStamp, 'dd-MM-yyyy HH:mm')}"><i class="fa fa-calendar"></i></span>
            <h4><b th:text="${internalOffer.offerName}"></b></h4>
            <br>
            <span th:text="${internalOffer.offerLongDescription}"></span>
            <br>
            <span th:text="${internalOffer.status.toDisplay()}"></span>
            <hr>
        </div>

        <div class="w3-center">
            <div th:if="${internalOffersList.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
                <a th:href="@{/admin/internalofferslist(size=${internalOffersList.size}, page=${pageNumber})}" th:text=${pageNumber} th:class="${pageNumber==internalOffersList.number + 1} ? active"></a>
            </div>
        </div>

    </div>

    <script type="text/javascript" th:replace="admin_fragment_repository.html :: js-script-fragment"></script>

</body>

</html>