<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <th:block th:include="admin_fragment_repository.html :: admin-head-data">
    </th:block>
</head>

<body>
    <div th:replace="admin_fragment_repository.html :: top-container-fragment"> </div>
    <nav th:replace="admin_fragment_repository.html :: side-menu(menuItemToActivate='Ogłoszenia wewnętrzne')"></nav>
    <div th:replace="admin_fragment_repository.html :: overlay-menu-effect-fragment"></div>

    <!-- !PAGE CONTENT! -->
    <div class="content-main-div w3-main">
        <!-- Header -->
        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="fa fa-dashboard"></i> Aktualności</b></h5>
        </header>

        <a class="w3-margin-left" href="/admin/newslist/signup">
            <button class="w3-button w3-green">Dodaj aktualności</button>
        </a>

        <div th:switch="${newsList}">
            <h2 th:case="null">No news yet!</h2>
            <div class="w3-margin-left w3-padding-32" th:case="*">

                <div th:each="news : ${newsList}">

                    <span th:text="${#dates.format(news.insertStamp, 'dd-MM-yyyy HH:mm')}"></span>

                    <h4><b th:text="${news.title}"></b></h4>
                    <i><span th:text="${news.shortDescription}"></span></i>
                    <br>
                    <span th:text="${news.longDescription}"></span>
                    <hr>
                </div>
                <div th:if="${newsList.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/admin/newslist(size=${newsList.size}, page=${pageNumber})}" th:text=${pageNumber} th:class="${pageNumber==newsList.number + 1} ? active"></a>

                </div>
                
                
            </div>

        </div>
    </div>

    <script type="text/javascript" th:replace="admin_fragment_repository.html :: js-script-fragment"></script>
</body>

</html>