<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <th:block th:include="admin_fragment_repository.html :: admin-head-data">
    </th:block>
</head>

<body>    
     <div th:replace="admin_fragment_repository.html :: top-container-fragment"> </div>
     <nav th:replace="admin_fragment_repository.html :: side-menu(menuItemToActivate='Ogłoszenia wewnętrzne')"></nav>
     <div th:replace="admin_fragment_repository.html :: overlay-menu-effect-fragment"></div>
     
     	<!-- !PAGE CONTENT! -->
	<div class="content-main-div w3-main">
        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="fa fa-dashboard"></i> Towary > Nowy produkt</b></h5>
        </header>
                <div class="w3-padding">
                    <form class="w3-container w3-padding-32 w3-margin w3-card-4 w3-light-grey" enctype="multipart/form-data" action="#" th:action="@{/admin/productlist/addproduct}" th:object="${product}" method="post">
                        <label for="name">Name</label>
                        <input class="w3-input w3-border" type="text"th:field="*{productName}" id="productName" placeholder="Product name">
                        <span th:if="${#fields.hasErrors('productName')}" th:errors="*{productName}"></span>
                        
            <br>
 			<div class="w3-margin-bottom">
            <label for="status">Status</label>
            <select class="w3-input w3-border" th:field="*{status}" id="status">
                <option th:each="status : ${T(pl.minicode.targowiska.common.Status).getGuiValues()}" th:value="${status}" th:text="${status.toDisplay()}"></option>
            </select>
            </div>
             			<div class="w3-margin-bottom">
            <label for="productCategory">Kategoria</label>       
                            <select class="w3-input w3-border" th:field="*{productCategory}" id="productCategory">
 <option th:each="productCategory : ${T(pl.minicode.targowiska.productcategory.ProductCategory).getGuiValues()}" th:value="${productCategory}" th:text="${productCategory.toDisplay()}"></option>
                  </select>
            
            
            </div>
            
            						<label for="image">Image</label>
 						<input class="w3-input w3-border" type="file" name="file" accept=".jpg" id="image">
 						<p th:text="${file_upload_error}"></p>
            
            


                        <input class="w3-btn w3-green w3-margin-top" type="submit" value="Dodaj">
                    </form>
                </div>
            </div>
     
     <script type="text/javascript" th:replace="admin_fragment_repository.html :: js-script-fragment"></script>
    
</body>

</html>