<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <th:block th:include="admin_fragment_repository.html :: admin-head-data">
    </th:block>
</head>

<body>
    <div th:replace="admin_fragment_repository.html :: top-container-fragment"> </div>
    <nav th:replace="admin_fragment_repository.html :: side-menu(menuItemToActivate='Ogłoszenia wewnętrzne')"></nav>
    <div th:replace="admin_fragment_repository.html :: overlay-menu-effect-fragment"></div>

    <!-- !PAGE CONTENT! -->
    <div class="content-main-div w3-main">
        <!-- Header -->
        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="fa fa-dashboard"></i> Towary</b></h5>
        </header>

        <a class="w3-margin-left" href="/admin/newslist/signup">
            <button class="w3-button w3-green">Dodaj towar</button>
        </a>

        <div th:switch="${productList}">
            <h2 th:case="null">No news yet!</h2>
            <div class="w3-margin-left w3-padding-32" th:case="*">

                <div th:each="product : ${productList}">

                    <span th:text="${#dates.format(product.insertStamp, 'dd-MM-yyyy HH:mm')}"></span>

                    <h4><b th:text="${product.productName}"></b></h4>
                    <i><span th:text="${product.status}"></span></i>
                    <br>
                    <span th:text="${product.productType}"></span>
                                        <br>
     
                    <hr>
                </div>
                <div th:if="${productList.totalPages > 0}" th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/admin/productlist(size=${productList.size}, page=${pageNumber})}" th:text=${pageNumber} th:class="${pageNumber==productList.number + 1} ? active"></a>

                </div>
                
                
            </div>

        </div>
    </div>

    <script type="text/javascript" th:replace="admin_fragment_repository.html :: js-script-fragment"></script>
</body>

</html>