<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <th:block th:include="admin_fragment_repository.html :: admin-head-data">
    </th:block>
</head>

<body>
    <div th:replace="admin_fragment_repository.html :: top-container-fragment"> </div>
    <nav th:replace="admin_fragment_repository.html :: side-menu(menuItemToActivate='Ogłoszenia wewnętrzne')"></nav>
    <div th:replace="admin_fragment_repository.html :: overlay-menu-effect-fragment"></div>

    <!-- !PAGE CONTENT! -->
    <div class="content-main-div w3-main">
        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="fa fa-dashboard"></i> Cennik > Nowy cennik</b></h5>
        </header>
        <div class="w3-padding">
            <form action="#" class="w3-container w3-padding-32 w3-margin w3-card-4 w3-light-grey" th:action="@{/admin/productpricelist/save}" th:object="${productPriceListViewDto}" method="post">

                <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
                    <thead>
                        <tr>
                            <th> Towar</th>
                            <th> Typ</th>
                            <th> Aktualna cena (zł)</th>
                            <th> Nowa cena minimalna(zł)</th>
                            <th> Nowa cena maksymalna(zł)</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="product, itemStat : *{creationPriceList}">
                            <td th:field="*{creationPriceList[__${itemStat.index}__].productName}" th:text="${product.getProductName()}"></td>
                            <td th:field="*{creationPriceList[__${itemStat.index}__].productCategory}" th:text="${product.getProductCategory().toDisplay()}"></td>
                            <td th:text="${#numbers.formatDecimal({product.getOldProductPrice()},2, 2, 'COMMA')}"></td>

                            <td>
                                <input th:name="|creationPriceList[${itemStat.index}]|" th:field="*{creationPriceList[__${itemStat.index}__].minimumProductPrice}"
                                 th:value="${product.minimumProductPrice}" type="number" step="0.01" />
                            </td>
                                                        <td>
                                <input th:name="|creationPriceList[${itemStat.index}]|" th:field="*{creationPriceList[__${itemStat.index}__].maximumProductPrice}"
                                 th:value="${product.minimumProductPrice}" type="number" step="0.01" />
                            </td>
							<input type="hidden" th:field="*{creationPriceList[__${itemStat.index}__].productId}" />
                            <input type="hidden" th:field="*{creationPriceList[__${itemStat.index}__].productName}" />
                            <input type="hidden" th:field="*{creationPriceList[__${itemStat.index}__].productCategory}" />
                            <input type="hidden" th:field="*{creationPriceList[__${itemStat.index}__].minimumProductPrice}" />
          					<input type="hidden" th:field="*{creationPriceList[__${itemStat.index}__].maximumProductPrice}" />
                        </tr>
                    </tbody>
                </table>
                <input class="w3-btn w3-green w3-margin-top" type="submit" value="Dodaj">
            </form>
        </div>
    </div>

    <script type="text/javascript" th:replace="admin_fragment_repository.html :: js-script-fragment"></script>

</body>

</html>