<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <th:block th:include="admin_fragment_repository.html :: admin-head-data">
    </th:block>
</head>

<body>
    <div th:replace="admin_fragment_repository.html :: top-container-fragment"> </div>
    <nav th:replace="admin_fragment_repository.html :: side-menu(menuItemToActivate='Ogłoszenia wewnętrzne')"></nav>
    <div th:replace="admin_fragment_repository.html :: overlay-menu-effect-fragment"></div>
    <div th:replace="admin_fragment_repository.html :: notification-fragment"></div>

    <!-- !PAGE CONTENT! -->
    <div class="content-main-div w3-main">
        <!-- Header -->
        <header class="w3-container" style="padding-top:22px">
            <h5><b><i class="fa fa-dashboard"></i> Towary</b></h5>
        </header>


<div>
  <a class="w3-margin-left" th:href="@{'/admin/productlist/newproduct'}">
            <button class="w3-button w3-green">Dodaj towar</button>
        </a>
</div>

        <div th:switch="${productList.getContent().size()}">
            <h2 th:case="'0'"></h2>
            <div th:case="*" class="w3-margin-left w3-padding-32">
                <div class="w3-container w3-padding-32 w3-margin w3-card-4 w3-light-grey">
                    <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white">
                        <thead>
                            <tr>
                                <th> Towar</th>
                                <th> Typ</th>
                                <th> Status</th>
                                <th> Opcje</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="product : ${productList}">
                                <td th:text="${product.productName}"></td>
                                <td th:text="${product.productCategory.toDisplay()}"></td>
                                <td th:text="${product.status.toDisplay()}"></td>
                                <td>
                                    <a th:href="@{'/admin/productlist/productdetails/{id}'(id=${product.id})}">
                                        <button title="Detale" class="w3-btn w3-green"><i class="fa fa-info"></i></button>
                                    </a>

                                    <button title="Edycja" class="w3-btn w3-indigo"><i class='fa fa-edit'></i></button>

                                    <a th:href="@{'/admin/productlist/delete/{id}'(id=${product.id})}">
                                        <button title="Usuń" class="w3-btn w3-red"><i class="fa fa-trash"></i></button>
                                    </a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="w3-center w3-margin-top">
                        <div th:if="${productList.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
                            <a class="w3-button w3-margin" th:href="@{/admin/productlist(size=${productList.size}, page=${pageNumber})}" th:text=${pageNumber} th:class="${pageNumber==productList.number + 1} ? active"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" th:replace="admin_fragment_repository.html :: js-script-fragment"></script>
</body>

</html>