<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">


<head th:fragment="head-data">
<meta charset="UTF-8" />
<link th:href="@{/css/fragment_repository.css}" rel="stylesheet">
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>


<body>

	<h1>Wszystkie komponenty reużywalne Thymeleaf</h1>
	<br><br>
	<div th:fragment="header">
		<h1>Add header components here</h1>
	</div>







	<footer th:fragment="footer">
		<div>Add footer components here</div>
	</footer>
</body>
</html>