<!DOCTYPE html>
<html>
   <head th:replace ="fragment_repository2.html :: head-data-fragment">
      <meta charset="utf-8">
   </head>
   <body>
      <!-- Navbar (sit on top) -->
      <div th:replace="fragment_repository2.html :: normal-screen-navbar-fragment"> </div>
      <!-- First Parallax Image with Logo Text -->
      <div class="w3-display-container" id="home">
         <div th:switch="${sliders}">
            <h3 th:case="null"><b>Skecja slider</b></h3>
            <div th:case="*">
            </div>
         </div>
         <div th:each="slider : ${sliders}">
            <div  class="w3-display-container mySlides ">
               <img src="image/1.jpg" style="width:100%" th:src="@{${'tmpFiles/main_gui/'+ slider.fileName}}">
               <div class="w3-display-middle" style="white-space:nowrap;">
                  <h2 class="w3-center title w3-text-white" th:text="${slider.bigText}"><b>AGRICOM1</b></h2>
                  <h3 class="w3-center w3-text-white" th:text="${slider.smallText}">SOME ADDITIONAL TEXT</h3>
               </div>
            </div>
         </div>
      </div>
      <!-- Container (About Section) -->
      <div class="w3-content w3-padding-64" id="news">
         <div th:switch="${news}">
            <h3 th:case="null"><b>Aktualności</b></h3>
            <div th:case="*">
               <h3><b>Aktualności</b></h3>
               <div class="w3-row">
                <a th:href="@{/aktualnosci-detale/{id}(id=${news1.id})}">
                  <div class="w3-half w3-border w3-border-white w3-hover-border-green">
                     <div class="w3-half">
                        <img th:if="${news1.minImageName} != null" src="image/3-370x265.jpg" alt="Italian Trulli" class="w3-image" th:src="@{${'tmpFiles/news/'+ news1.minImageName}}">
                     	<img th:unless="${news1.minImageName}" src="" class="w3-image" th:src="@{${'tmpFiles/main_gui/no_image.jpg'}}">
                     </div>
                     <div class="w3-half  w3-container">
                        <div>
                           <span class="w3-xxlarge"><b th:text="${news1.getInsertStamp().getDate()}">16</b></span>
                           <span th:text="${T(pl.minicode.targowiska.common.date.DateUtils).getMonthShortcut(news1.insertStamp)}">2017</span>
                           <span th:text="${T(pl.minicode.targowiska.common.date.DateUtils).getYear(news1.insertStamp)}">2017</span>
                        </div>
                        <div>
                           <span class="w3-large" th:text="${#strings.abbreviate(news1.title,50)}" >Tittle</span>
                           <p th:text="${#strings.abbreviate(news1.longDescriptionPlainText,80)}">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                     </div>
                  </div>
                  </a>
                   <a th:href="@{/aktualnosci-detale/{id}(id=${news2.id})}">
                  <div class="w3-half w3-border w3-border-white w3-hover-border-green">
                     <div class="w3-half">
                        <img th:if="${news2.minImageName} != null" src="image/3-370x265.jpg" alt="Italian Trulli" class="w3-image" th:src="@{${'tmpFiles/news/'+ news2.minImageName}}">
						<img th:unless="${news2.minImageName}" src="" class="w3-image" th:src="@{${'tmpFiles/main_gui/no_image.jpg'}}">                    
                     </div>
                     <div class="w3-half  w3-container">
                        <div>
                           <span class="w3-xxlarge"><b th:text="${news2.getInsertStamp().getDate()}">16</b></span>
                           <span th:text="${T(pl.minicode.targowiska.common.date.DateUtils).getMonthShortcut(news2.insertStamp)}">2017</span>
                           <span th:text="${T(pl.minicode.targowiska.common.date.DateUtils).getYear(news2.insertStamp)}">2017</span>
                        </div>
                        <div>
                           <span class="w3-large" th:text="${#strings.abbreviate(news2.title,50)}" >Tittle</span>
                           <p th:text="${#strings.abbreviate(news2.longDescriptionPlainText,80)}">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                     </div>
                  </div>
                  </a>
                  
               </div>
               <div class="w3-row">
                <a th:href="@{/aktualnosci-detale/{id}(id=${news3.id})}">
                  <div class="w3-half w3-border w3-border-white w3-hover-border-green">
                     <div class="w3-half  w3-container">
                        <div>
                           <span class="w3-xxlarge"><b th:text="${news3.getInsertStamp().getDate()}">16</b></span>
                           <span th:text="${T(pl.minicode.targowiska.common.date.DateUtils).getMonthShortcut(news3.insertStamp)}">2017</span>
                           <span th:text="${T(pl.minicode.targowiska.common.date.DateUtils).getYear(news3.insertStamp)}">2017</span>
                        </div>
                        <div>
                           <span class="w3-large" th:text="${#strings.abbreviate(news3.title,50)}" >Tittle</span>
                           <p th:text="${#strings.abbreviate(news3.longDescriptionPlainText,80)}">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                     </div>
                     <div class="w3-half">
                        <img th:if="${news3.minImageName} != null" src="image/3-370x265.jpg" alt="Italian Trulli" class="w3-image" th:src="@{${'tmpFiles/news/'+ news3.minImageName}}">
                     	<img th:unless="${news3.minImageName}" src="" class="w3-image" th:src="@{${'tmpFiles/main_gui/no_image.jpg'}}">
                     </div>
                  </div>
                  </a>
                   <a th:href="@{/aktualnosci-detale/{id}(id=${news4.id})}">
                  <div class="w3-half w3-border w3-border-white w3-hover-border-green">
                     <div class="w3-half  w3-container">
                        <div>
                           <span class="w3-xxlarge"><b th:text="${news4.getInsertStamp().getDate()}">16</b></span>
                           <span th:text="${T(pl.minicode.targowiska.common.date.DateUtils).getMonthShortcut(news4.insertStamp)}">2017</span>
                           <span th:text="${T(pl.minicode.targowiska.common.date.DateUtils).getYear(news4.insertStamp)}">2017</span>
                        </div>
                        <div>
                           <span class="w3-large" th:text="${#strings.abbreviate(news4.title,50)}" >Tittle</span>
                           <p th:text="${#strings.abbreviate(news4.longDescriptionPlainText,80)}">Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                        </div>
                     </div>
                     <div class="w3-half">
                        <img th:if="${news4.minImageName} != null" src="image/3-370x265.jpg" alt="Italian Trulli" class="w3-image" th:src="@{${'tmpFiles/news/'+ news3.minImageName}}">
                     	<img th:unless="${news4.minImageName}" src="" class="w3-image" th:src="@{${'tmpFiles/main_gui/no_image.jpg'}}">
                     </div>
                  </div>
                  </a>
               </div>
               <div class="w3-center w3-padding-24">
                  <a href="aktualnosci">
                  <button class="w3-btn w3-white w3-border w3-border-orange"> 
                  WIĘCEJ
                  </button>
                  </a>
               </div>
            </div>
         </div>
      </div>
      <!-- Third Parallax Image with Portfolio Text -->
      <div class="bgimg-3 w3-display-container">
         <div class="w3-display-left w3-container">
            <!--   <b> <span class="w3-content w3-xxlarge w3-text-white">What People Says</span></b> -->
         </div>
      </div>
      <div class="w3-content w3-container w3-padding-64" id="offer-main">
         <div class="w3-row">
            <div class="w3-half w3-container">
			<span th:utext="${textPicture} != null ? ${textPicture.text} : '' ">txt </span>     
               <div class="w3-padding-24">
                  <a href="/oferta">
                  <button class="w3-btn w3-white w3-border w3-border-orange">OFERTA</button>
                  </a>
               </div>
            </div>
            <div class="w3-half">
               <img src="image/1.jpg" alt="Italian Trulli" class="w3-image">
            </div>
         </div>
      </div>
      <!-- Container (Portfolio Section) -->
      <div class="w3-light-gray w3-container w3-padding-64" id="gallery">
      <div class="w3-content">
               <div th:switch="${galleryDto.getImagesGrid()}">
            <h3 th:case="null"><b>Galeria</b></h3>
            <div th:case="*">
                     <div th:each="row,iter : ${galleryDto.getImagesGrid()}" class="w3-row">
            <div class="w3-quarter">
               <div th:if="${iter.index == 0}">
                  <h2>Our Products</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  <p class="hover-href">WIECEJ</p>
               </div>
            </div>
            <div  th:each="image, itemStat : *{row}" class="w3-quarter">     
               <a th:href="@{${'tmpFiles/gallery/'+ image.imageName}}" href="image/3-370x265.jpg" class="glightbox">
               <img th:src="@{${'tmpFiles/gallery/'+ image.minImageName}}" src="image/3-370x265.jpg" alt="Italian Trulli" class="w3-image">
               </a>
            </div>
            </div>
            </div>
            </div>
         </div>
      </div>
      <!-- Contact Section -->
      <div class="w3-container w3-light-grey w3-padding-64" id="contact">
         <h2 class="w3-center section-title">KONTAKT Z NAMI</h2>
         <p class="w3-center w3-large">Zadzwoń lub zostaw nam wiadomość</p>
         <!-- Add Google Maps -->
         <div id="googleMap" class="w3-round-large w3-padding-64" style="width:100%;height:450px;"></div>
         <div th:switch="${address}">
            <h3 th:case="null"><b>Skecja kontakt</b></h3>
            <div th:case="*">
               <div class="w3-center w3-padding-64">
                  <h3 th:text = "${address.companyName}"></h3>
                  <p th:if= "${address.bankAccount != null and !address.bankAccount.isEmpty()}" th:text = "'Konto bankowe: ' + ${address.bankAccount}">Konto</p>
                  <p th:if= "${address.nip != null and !address.nip.isEmpty()}" th:text = "'NIP: ' + ${address.nip}"></p>
                  <p th:if= "${address.regon != null and !address.regon.isEmpty()}" th:text = "'REGON: ' + ${address.regon}"></p>
               </div>
               <div class="w3-row w3-center">
                  <div class="w3-third w3-containe">
                     <div class="w3-container">
                        <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> <b>ADRES</b></p>
                        <p th:if= "${address.line1 != null and !address.line1.isEmpty()}" th:text = "${address.line1}"></p>
                        <p th:if= "${address.line2 != null and !address.line2.isEmpty()}" th:text = "${address.line2}"></p>
                        <p th:if= "${address.line3 != null and !address.line3.isEmpty()}" th:text = "${address.line3}"></p>
                        <p th:if= "${address.line4 != null and !address.line4.isEmpty()}" th:text = "${address.line4}"></p>
                     </div>
                  </div>
                  <div class="w3-third w3-container">
                     <div class="w3-container">
                        <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> <b>TELEFON</b></p>
                        <p th:if= "${address.phone1name != null and !address.phone1name.isEmpty() and address.phone1 != null and !address.phone1.isEmpty()}" th:text = "${address.phone1name + ' ' + address.phone1}"></p>
                        <p th:if= "${address.phone2name != null and !address.phone2name.isEmpty() and address.phone2 != null and !address.phone2.isEmpty()}" th:text = "${address.phone2name + ' ' + address.phone2}"></p>
                        <p th:if= "${address.phone3name != null and !address.phone3name.isEmpty() and address.phone3 != null and !address.phone3.isEmpty()}" th:text = "${address.phone3name + ' ' + address.phone3}"></p>
                        <p th:if= "${address.phone4name != null and !address.phone4name.isEmpty() and address.phone4 != null and !address.phone4.isEmpty()}" th:text = "${address.phone4name + ' ' + address.phone4}"></p>
                     </div>
                  </div>
                  <div class="w3-third w3-container">
                     <div class="w3-container">
                        <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> <b>EMAIL</b></p>
                        <p th:if= "${address.email1 != null and !address.email1.isEmpty()}" th:text = "${address.email1}"></p>
                        <p th:if= "${address.email2 != null and !address.email2.isEmpty()}" th:text = "${address.email2}"></p>
                        <p th:if= "${address.email3 != null and !address.email3.isEmpty()}" th:text = "${address.email3}"></p>
                        <p th:if= "${address.email4 != null and !address.email4.isEmpty()}" th:text = "${address.email4}"></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <!-- Image of location/map -->
      </div>
      <!-- Footer -->
      <footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
         <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
         <div class="w3-xlarge w3-section">
            <i class="fa fa-facebook-official w3-hover-opacity"></i>
            <i class="fa fa-instagram w3-hover-opacity"></i>
            <i class="fa fa-snapchat w3-hover-opacity"></i>
            <i class="fa fa-pinterest-p w3-hover-opacity"></i>
            <i class="fa fa-twitter w3-hover-opacity"></i>
            <i class="fa fa-linkedin w3-hover-opacity"></i>
         </div>
         <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
      </footer>
      <script src="glightbox/js/glightbox.js"></script>
      <script>
         var lightbox = GLightbox();
         lightbox.on('open', (target) => {
             console.log("lightbox opened");
         });
         
         
         
         
         
         
            //slideshow
            var myIndex = 0;
              carousel();
            
              function carousel() {
                var i;
                var x = document.getElementsByClassName("mySlides");
                for (i = 0; i < x.length; i++) {
                  x[i].style.display = "none";
                }
                myIndex++;
                if (myIndex > x.length) { myIndex = 1 }
                x[myIndex - 1].style.display = "block";
                setTimeout(carousel, 4000);
              }
            
            
            
            
            
            // Modal Image Gallery
            function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
            }
            
            // Change style of navbar on scroll
            //window.onscroll = function() {myFunction()};
            //function myFunction() {
            //  var navbar = document.getElementById("myNavbar");
            //  if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
            //      navbar.className = " w3-card" + " w3-animate-top" + " w3-black";
            //  } else {
            //      navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-black", "");
            //  }
           // }
            
            // Used to toggle the menu on small screens when clicking on the menu button
            function toggleFunction() {
              var x = document.getElementById("navDemo");
              if (x.className.indexOf("w3-show") == -1) {
                  x.className += " w3-show";
              } else {
                  x.className = x.className.replace(" w3-show", "");
              }
            }
            function myMap() {
                myCenter = new google.maps.LatLng(50.681061, 21.758024);
                var mapOptions = {
                  center: myCenter,
                  zoom: 17, scrollwheel: false, draggable: false,
                  mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);
            
                var marker = new google.maps.Marker({
                  position: myCenter,
                });
                marker.setMap(map);
              }
      </script>
      <script
         src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyLaLusBXDDuYncjgZMOapl9WNbjtmkMc&callback=myMap"></script>
   </body>
</html>