<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <th:block th:include="fragment_repository.html :: head-data-fragment">
    </th:block>
</head>

<body>
	<div th:replace="fragment_repository.html :: normal-screen-navbar-fragment"> </div>
    <nav th:replace="fragment_repository.html :: small-screen-navbar-fragment"></nav>

  <!-- Header with full-height image -->
  <header>
    <div id="home">
      <div class="mySlides bgimg-1 w3-display-container ">
        <div class="w3-display-middle header-title-opacity w3-center">
          <div>
            <span class="doubeled-header1-size w3-center w3-padding-large w3-animate-left text-green"><b>Duży tekst</b></span>
          </div> 
          <div>
            <span class="header1-size w3-center w3-padding-large w3-animate-left text-green">mniejszy tekst</span>
          </div>
        </div>
        <div class="w3-display-left">
            <br><br>
          <img class="w3-image w3-animate-right" src="image/Spinach-PNG-Image-HD.png">
        </div>
      </div>

      <div class="mySlides bgimg-1 w3-display-container">
          <div class="w3-display-middle header-title-opacity">
              <div>
                  <span class="doubeled-header1-size w3-center w3-padding-large w3-animate-left text-green"><b>Duży tekst 2</b></span>
                </div> 
                <div>
                  <span class="header1-size w3-center w3-padding-large w3-animate-left text-green">mniejszy tekst 2</span>
                </div>
          </div>
          <div class="w3-display-right w3-hide">
              <br><br>
            <img class="w3-image w3-animate-right" src="image/veg_vertical_small.png">
          </div>
        </div>

      <div class="mySlides bgimg-1 w3-display-container">
        <div class="w3-display-middle header-title-opacity" >
            <div>
                <span class="doubeled-header1-size w3-center w3-padding-large w3-animate-left text-green"><b>Duży tekst 3</b></span>
              </div> 
              <div>
                <span class="header1-size w3-center w3-padding-large w3-animate-left text-green">mniejszy tekst 3</span>
              </div>

        </div>
        <div class="w3-display-bottomright">
          <img class="w3-image w3-animate-left w3-margin" src="image/cherry250.png">
        </div>
        <div class="w3-display-topleft">
          <br><br>
            <img class="w3-image w3-animate-right w3-margin" src="image/cherry250angle180.png">
          </div>
      </div>
    </div>


  </header>

  <!-- About Section -->
  <div class="w3-container w3-padding-64" id="welcome">
    <div class="w3-half w3-container">
      <img src="image/veg2_shadow.png" alt="" class="w3-image">
    </div>
    <div class="w3-half w3-container">
      <h2 class="section-pretitle">Samorządowy zakład budżetowy</h2>
      <h2 class="section-title">Targowiska Miejskie Sandomierz</h2>
      <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a
        pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies.
        Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a,
        convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis.
        Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit,
        rhoncus eu, luctus et interdum adipiscing wisi.
        Aliquam erat ac ipsum. Integer aliquam purus.</p>

      <p>Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a
        pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies.
        Curabitur et ligula. Ut molestie a, ultricies porta urna. Vestibulum commodo volutpat a,
        convallis ac, laoreet enim. Phasellus fermentum in, dolor. Pellentesque facilisis.
        Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada fames ac turpis velit,
        rhoncus eu, luctus et interdum adipiscing wisi.
        Aliquam erat ac ipsum. Integer aliquam purus.</p>
      <p><button class="w3-button w3-green w3-round">Czytaj więcej <i class="fa fa-arrow-right"></i></button></p>
    </div>
  </div>

  <!-- Promo Section - "We know design" -->
  <div class="w3-container w3-row w3-padding-64" id="about">
    <div class="w3-container w3-half w3-padding-64">
        <br><br>
      <h2 class="section-pretitle-white">O nas</h2>
      <h2 class="section-title">Kilka Słów o zakładzie</h2>
      <p class="white-font">Samorządowy zakład budżetowy pod nazwą „Targowiska Miejskie Samorządowy Zakład Budżetowy”
        został utworzony w dniu 01.01.2017 roku na podstawie Uchwały nr XXXIII/395/2016 Rady Miasta Sandomierza
        z dnia 23 listopada 2016 roku. Przedmiotem działalności Zakładu jest wykonywanie na terytorium
        Gminy Miejskiej Sandomierz jej zadań własnych w zakresie:
        <li class="white-font"> targowisk i hal targowych,</li>
        <li class="white-font"> administrowania targowiskami miejskimi</li>
      </p>
      <br><br><br>
      <p><a href="#work" class="w3-button w3-black"><i class="fa fa-th"></i> Więcej...</a></p>
    </div>
    <div class="w3-container w3-half">
      <br><br><br>
      <img class="w3-image anim-image" src="image/fruits_shadow.png" alt="Buildings">

    </div>

  </div>
  <!-- Team Section -->
  <div class="w3-container w3-padding-64 w3-center" id="shopping">
    <h2 class="section-pretitle">Przyjemne</h2>
    <h2 class="section-title">Zakupy na naszych targowiskach</h2>
    <div class="w3-row w3-padding-64 shopping-background">
      <div class="w3-third w3-container w3-padding-32 w3-center">
        <h4 class="section-pretitle">Zawsze świeże</h4>
        <p>Nasi klienci dbają o jak najlepszą jakość swoich produktów które możesz kupić </p>
        <div class="w3-padding-48"></div>
        <h4 class="section-pretitle">Bez pestycydów</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. </p>
      </div>
      <div class="w3-third w3-container w3-padding-32" id="third-section">

      </div>
      <div class="w3-third w3-container w3-padding-32  w3-center">
        <h4 class="section-pretitle">Od producenta</h4>
        <p>Wielu naszych klientów jest producentem wyrobów które sprzedają w związku z tym mogą oni oferować najlepsze
          ceny </p>
        <div class="w3-padding-48"></div>
        <h4 class="section-pretitle">Dbaj o zdrowie</h4>
        <p>Świeże owoce i warzywa to podstawa zdrowej zbilansowanej diety w dzisiejszych czasach </p>
      </div>
    </div>
  </div>

  <div class="w3-container w3-padding-64" id="sales-plan">
    <h2 class="w3-center section-pretitle">Cenniki</h2>
    <h2 class="w3-center section-title">Notowania cenowe</h2>
    <p class="w3-large w3-center">Sprawdź aktualne ceny produktów</p>

    <div class="w3-row-padding w3-center">

        <div th:switch="${productsList.getContent().size()}">
            <h2 th:case="'0'">Brak produktów</h2>
            <div th:case="*">

                <div th:each="product : ${productsList}">
					<div th:insert="fragment_repository.html :: product-price-fragment(dbProductObject=${product})"/> 
                    
                </div>                              
            </div>
        </div>
    </div>
    <div class="w3-container w3-center w3-padding-16">
      <button class="w3-button w3-green w3-medium w3-center">Więcej cen</button>
    </div>
  </div>


  <!-- Promo Section "Statistics" -->
  <div class="w3-container w3-row w3-padding-64 w3-light-grey" id="section-4">
    <div class="w3-container w3-half w3-padding-64">
      <div class="w3-section w3-white">
        <button onclick="myFunction('accordion1', this)" class="w3-white w3-button w3-block w3-round-medium">
          Dowolny tekst1</button>
        <div id="accordion1" class="w3-hide w3-container">
          <p>Lorem ipsum 100% width</p>
        </div>
      </div>

      <div class="w3-section w3-white">
        <button onclick="myFunction('accordion2', this)" class="w3-white w3-button w3-block w3-round-medium">
          Dowolny tekst2</button>
        <div id="accordion2" class="w3-hide w3-container">
          <p>Lorem ipsum 100% width</p>
        </div>
      </div>

      <div class="w3-section w3-white">
        <button onclick="myFunction('accordion3', this)" class="w3-white w3-button w3-block w3-round-medium">
          Dowolny tekst3</button>
        <div id="accordion3" class="w3-hide w3-container">
          <p>Lorem ipsum 100% width</p>
        </div>
      </div>

      <div class="w3-section w3-white">
        <button onclick="myFunction('accordion4', this)" class="w3-white w3-button w3-block w3-round-medium">
          Dowolny tekst4</button>
        <div id="accordion4" class="w3-hide w3-container">
          <p>Lorem ipsum 100% width</p>
        </div>
      </div>
    </div>
    <div class="w3-container w3-half w3-center">
      <img class="w3-image anim-image" src="image/pear500.png" alt="Buildings">

    </div>

  </div>





  <!-- Skills Section -->
  <div class="w3-container w3-padding-64" id="news">
    <div class="w3-container">
      <h2 class="w3-center section-pretitle">Ostatnie</h2>
      <h2 class="w3-center section-title">Najnowsze informacje</h2>
      <p class="w3-large w3-center">Zobacz co się u nas dzieje</p>
    </div>

    <div class="w3-row w3-center w3-container">
      <!-- <div class="w3-third w3-container">
        <div class="w3-container w3-padding-24">
          <div class="w3-display-container w3-hover-opacity">
            <img src="image/traffic.jpg" class="w3-image" alt="">
            <div class="w3-display-middle w3-display-hover">
                <a class="w3-button w3-circle w3-green"><b><i class="fa fa-plus"></i></b></a>
            </div>
          </div>
          <div class="w3-container w3-margin-top">
            <span><i class="fa fa-calendar"></i> Dodano: 11.09.2019</span>
          </div>

          <div class="w3-container">
            <h4><b>Utrudnienia w ruchu</b></h4>
          </div>
          <div class="w3-container">
            <span> Szanowni Państwo informujemy, że w dniu 5.07.2019 r. przez powiat sandomierski będzie przejeżdżał
              Międzynarodowy Wyścig Kolarski "Solidarności i Olimpijczyków”
            </span>
          </div>
          <div class="w3-container">
            <span><b>-Więcej-</b></span>
          </div>
        </div>
      </div> -->
      <!-- <div class="w3-third w3-container">
        <div class="w3-container w3-padding-24">
          <div class="w3-display-container w3-hover-opacity">
            <img src="image/news.jpg" class="w3-image" alt="">
            <div class="w3-display-middle w3-display-hover">
                <a class="w3-button w3-circle w3-green"><b><i class="fa fa-plus"></i></b></a>
            </div>
          </div>
          <div class="w3-container w3-margin-top">
            <span><i class="fa fa-calendar"></i> Dodano: 11.09.2019</span>
          </div>

          <div class="w3-container">
            <h4><b>Zapraszamy na zakupy</b></h4>
          </div>
          <div class="w3-container">
            <span>Zapraszamy na zakupy świeżych owoców i warzyw. W ofercie dostępne są maliny, truskawki, jagody,
              czereśnie, morele, a także kalafiory, bób, kapusta, brokuły i wiele wiele innych smacznych owoców i
              warzyw. Zapraszamy!
            </span>
          </div>
          <div class="w3-container">
            <span><b>-Więcej-</b></span>
          </div>
        </div>
      </div> -->
      <!-- <div class="w3-third w3-container">
        <div class="w3-container w3-padding-24">
          <div class="w3-display-container w3-hover-opacity">
            <img src="image/flowers.jpg" class="w3-image" alt="">
            <div class="w3-display-middle w3-display-hover">
                <a class="w3-button w3-circle w3-green text-white"><b><i class="fa fa-plus"></i></b></a>
            </div>
          </div>
          <div class="w3-container w3-margin-top">
            <span><i class="fa fa-calendar"></i> Dodano: 11.09.2019</span>
          </div>

          <div class="w3-container">
            <h4><b>Kwiaty w atrakcyjnych cenach</b></h4>
          </div>
          <div class="w3-container">
            <span>Zapraszamy na zakupy świeżych warzyw i owoców, a także nowalijek oraz kwiatów rabatowych i
              balkonowych. Giełda owocowo - warzywna przy ul. Przemysłowej w Sandomierzu czynna non stop we wszystkie
              dni tygodnia.
            </span>
          </div>
          <div class="w3-container">
            <span><b>-Więcej-</b></span>
          </div>
        </div>
      </div> -->

        <div class="w3-content ">
          <div class="w3-padding-16 ">
          
          
        <div th:switch="${newsList.getContent().size()}">
            <h2 th:case="'0'">Brak newsów</h2>
            <div th:case="*">

                <div th:each="news, iterStat : ${newsList}">
					<div th:insert="fragment_repository.html :: news-item-fragment(dbNewsObject = ${news}, objectIndex = ${iterStat.index})"/> 
                    <div th:replace="fragment_repository.html :: news-item-modal-fragment(dbNewsObject = ${news}, objectIndex = ${iterStat.index})"/> 
                </div>                              
            </div>
        </div>

          </div>
        </div>

    </div>
  </div>



  <!-- Contact Section -->
  <div class="w3-container w3-light-grey w3-padding-64" id="contact">
    <h2 class="w3-center section-pretitle">Kontakt</h2>
    <h2 class="w3-center section-title">KONTAKT Z NAMI</h2>
    <p class="w3-center w3-large">Zadzwoń lub zostaw nam wiadomość</p>

    <!-- Add Google Maps -->
    <div id="googleMap" class="w3-round-large w3-padding-64" style="width:100%;height:450px;"></div>
    <div class="w3-row w3-center w3-padding-64">
      <div class="w3-third w3-containe">
        <div class="w3-container">
          <p><i class="fa fa-map-marker fa-fw w3-xxlarge w3-margin-right"></i> <b>ADRES</b></p>
          <p>ul. Przemysłowa 2<br>Sandomierz</p>
        </div>
      </div>
      <div class="w3-third w3-container">
        <div class="w3-container">
          <p><i class="fa fa-phone fa-fw w3-xxlarge w3-margin-right"></i> <b>TELEFON</b></p>
          <p>15 832 34 22</p>
        </div>
      </div>
      <div class="w3-third w3-container">
        <div class="w3-container">
          <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> <b>EMAIL</b></p>
          <p>biuro@targowiskasandomierz.pl</p>
        </div>
      </div>

    </div>
    <!-- Image of location/map -->


  </div>

  <!-- Footer -->
  <footer class="w3-center w3-dark-gray w3-padding-64">
    <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
      <i class="fa fa-facebook-official w3-hover-opacity"></i>
      <i class="fa fa-instagram w3-hover-opacity"></i>
      <i class="fa fa-snapchat w3-hover-opacity"></i>
      <i class="fa fa-pinterest-p w3-hover-opacity"></i>
      <i class="fa fa-twitter w3-hover-opacity"></i>
      <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank"
        class="w3-hover-text-green">w3.css</a></p>
  </footer>
<script type="text/javascript" th:replace="fragment_repository.html :: js-script-fragment"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAyLaLusBXDDuYncjgZMOapl9WNbjtmkMc&callback=myMap"></script>
</body>

</html>