body,h1,h2,h3,h4,h5,h6 {font-family: 'Poppins', sans-serif;}
body, html {
  height: 100%;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-news, .bgimg-pricing, .bgimg-contractors, .bgimg-price-list, 
.bgimg-history, .bgimg-offer, .bgimg-regulations, .bgimg-contact {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
  background-image: url('../image/1.jpg');
  min-height: 400px;
}

/* Second image (Portfolio) */
.bgimg-2 {
  background-image: url("../image/2.jpg");
  min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
  background-image: url("../image/3.jpg");
  min-height: 400px;
}

.bgimg-news {
  background-image: url("../image/news-parallax.jpg");
  min-height: 400px;
}

.bgimg-pricing {
  background-image: url("../image/pricing-parallax.jpg");
  min-height: 400px;
}

.bgimg-contractors {
  background-image: url("../image/contractors-parallax.jpg");
  min-height: 400px;  
}

.bgimg-price-list{
  background-image: url("../image/pricelist-parallax.jpg");
  min-height: 400px;  
}

.bgimg-history{
  background-image: url('../image/history-parallax.jpg');
  min-height: 400px;
}

.bgimg-offer{
  background-image: url('../image/offer-parallax.jpg');
  min-height: 400px;
}

.bgimg-regulations{
  background-image: url('../image/regulations-parallax.jpg');
  min-height: 400px;
}

.bgimg-contact{
  background-image: url('../image/contact-parallax.jpg');
  min-height: 400px;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-news, .bgimg-pricing, .bgimg-contractors, .bgimg-price-list,
  .bgimg-history, .bgimg-offer, .bgimg-regulations, .bgimg-contact {
      background-attachment: scroll;
  }
}

.w3-content {
    max-width: 1100px;
}


.title {
    font-size: 150px;
    padding: 25px 0px 0px 25px;
}

.subtitle {
  font-size: 50px;
  padding: 25px 0px 0px 180px;
}

.mySlides{
    min-height: 65vh;
}

.hover-href:hover{
  color: orange;
}

.table{
	border: 1px solid #ccc;
	    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    display: table;
}

.table th:first-child, .table td:first-child {
    padding-left: 16px;
}
.table td, .table th {
    padding: 8px 8px;
    display: table-cell;
    vertical-align: top;
}

.table tr:first-child td {
	
    background-color: #ddd!important;
    border-bottom: 1px solid #ddd;
}


.table tr:nth-child(odd) {
    background-color: #f1f1f1;
}
.table tr {
    border-bottom: 1px solid #ddd;
}

.set_selected{
  opacity: 0.3;
  background-color: rgba(0, 0, 0, 0.8);
  border: 3px solid #0d6e00;
}